.wy-nav-side {
	background: whitesmoke;
}

.wy-menu-vertical span {
	line-height: 21px;
	color: #434347;
}

.wy-menu-vertical a {
	font-size: 85%;
	line-height: 21px;
	color: #434347;
}

.wy-menu-vertical li.current a {
	color: darkblue;
}

.wy-menu-vertical li ul li a {
	color: darkblue;
}

.wy-menu-vertical a:hover {
	background-color: lightblue;
}

.wy-menu-vertical li.current a:hover {
	background-color: lightblue;
}

.wy-nav-side {
	height: 100%;
}

.wy-nav-content-wrap {
	background: white;
}

.wy-nav-content {
	max-width: unset;
	background: white;
}

footer {
	font-size: 75%;
}

.rst-content dl:not(.docutils) dt {
	color: unset;
}

.rst-versions {
	height: 0px;
}

ul.subnav span.caption-text {
	padding: 0.4em 2.4em;
}

span.expandable {
	cursor: pointer;
	color: #434347;
}

span.expandable:hover {
	background-color: lightblue;
}

.green {
	background-color: #cd5 !important;
}

.lightblue {
	background-color: gold !important;
}

.red {
	background-color: #f99 !important;
}